<mat-sidenav #sideNav class="menu-sidenav" mode="side" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-list>
        <mat-list-item (click)="redirect(''); open(); emit('store')" class="cursor-pointer">Create
            Store
            <mat-icon mat-list-icon>{{iconConstant.RIGHT}}</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="close(); redirect('stores');" class="cursor-pointer">View
            Stores
            <mat-icon mat-list-icon>{{iconConstant.RIGHT}}</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="redirect(''); open(); emit('order')" class="cursor-pointer">Create
            Order
            <mat-icon mat-list-icon>{{iconConstant.RIGHT}}</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="close(); redirect('orders');" class="cursor-pointer">View
            Orders
            <mat-icon mat-list-icon>{{iconConstant.RIGHT}}</mat-icon>
        </mat-list-item>
    </mat-list>
</mat-sidenav>