<!-- Material Toolbar -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button aria-label="Open the side nav" (click)="toggle()">
            <mat-icon>{{iconConstant.MENU}}</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span class="cursor-pointer">Heading</span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">{{iconConstant.ARROW_DOWN}}
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>